<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'bootstrap_files/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

{% include 'todolistapp/navbar.html' %}

<div id="urlHolder"
     data-getUrl="{% url 'all_todos' %}"
     data-saveUrl="{% url 'save_todo' %}"
     data-updateUrl="{% url 'update_todo' %}"
     data-deleteUrl="{% url 'delete_todo' 0 %}"
     data-path="{{ request.path }}"
></div>

<div class="container mt-3">

    {% block content %}
    {% endblock %}
<!-- container /-->
</div>



<script src="{% static 'bootstrap_files/jquery-3.4.1.slim.min.js' %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap_files/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap_files/bootstrap.min.js' %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="{% static 'js/main.js' %}"></script>

{% if request.path == '/' %}
    <script src="{% static 'js/index.js' %}"></script>
{% elif request.path == '/register/' %}
    <script src="{% static 'js/register.js' %}"></script>
{% endif %}

{#<script src="{% static 'js/index.js' %}"></script>#}
{#<script src="{% static 'js/register.js' %}"></script>#}

</body>
</html>
