body {
    background-color: #EFEFEF;
}

.task-bg {
    background-color: #EFEFEF;
}

.my-active {
    background-color: darkgrey;
}

.top-margin {
    margin-top: 12px;
}

.left-margin {
    margin-left: 2px;
}

label {
    font-size: 15px;
}

