body {
    background-color: #EFEFEF;
    position: relative;
    min-height: 100vh;
}

.task-bg {
    background-color: #EFEFEF;
}

label {
    font-size: 15px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
